<script lang="ts" setup>
import { useCustomerStore } from "@/stores/customer";
import { ref } from "vue";
import type { VForm } from "vuetify/components";
const form = ref<VForm | null>(null);
const customerStore = useCustomerStore();
async function save() {
  const { valid } = await form.value!.validate();
  if (valid) {
    await customerStore.saveCustomer();
  }
}
</script>

<template>
  <v-dialog v-model="customerStore.dialog" persistent width="1024"
    ><v-card>
      <v-card-title>
        <span class="text-h5">Customer</span>
      </v-card-title>
      <v-card-text>
        <v-form ref="form">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-text-field
                  label="Name*"
                  required
                  v-model="customerStore.editedCustomer.name"
                  :rules="[
                    (v) => !!v || 'item is required',
                    (v) => v.length >= 3 || 'Length must more then 3',
                  ]"
                ></v-text-field>
              </v-col>
            
              <v-col cols="12">
                <v-text-field
                  label="Age*"
                  required
                  v-model.number="customerStore.editedCustomer.age"
                  :rules="[(v) => !!v || 'item is required']"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="Telephone*"
                  required
                  v-model="customerStore.editedCustomer.tel"
                  :rules="[
                    (v) => !!v || 'item is required',
                    (v) => v.length >= 9 || 'Length must more then 9',
                    (v) => v.length <= 10 || 'Length must less then 10',
                  ]"
                ></v-text-field>
              </v-col>
              <v-col cols="12"
                ><v-select
                  label="Gender*"
                  required
                  v-model="customerStore.editedCustomer.gender"
                  :items="['M', 'F']"
                  :rules="[
                    (v) => !!v || 'item is required',
                    (v) => v.length == 1 || 'Length must equal 1',
                  ]"
                ></v-select>
              </v-col>
            </v-row> </v-container
        ></v-form>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="blue-darken-1"
          variant="text"
          @click="customerStore.dialog = false"
        >
          Close
        </v-btn>
        <v-btn color="blue-darken-1" variant="text" @click="save"> Save </v-btn>
      </v-card-actions>
    </v-card></v-dialog
  >
</template>
